<div class="popup">
    <form>
        <fieldset>
            <h3>Modification d'une carte :</h3>
            <p>
                <label for="maj_titreCarte">Titre de la carte&#42;</label> :
                <input type="text" placeholder="Ma super tâche" name="titreCarte" id="maj_titreCarte"
                       value="{{ carte.titreCarte }}" minlength="1" maxlength="50" required>
            </p>
            <p>
                <label for="maj_descriptifCarte">Description de la carte&#42;</label> :
            <div>
                <textarea placeholder="Description de la tâche..." name="descriptifCarte" id="maj_descriptifCarte"
                          required>{{ carte.descriptifCarte }}</textarea>
            </div>
            <p>
                <label for="maj_couleurCarte">Couleur de la carte&#42;</label> :
                <input type="color" value="{{ carte.couleurCarte }}" name="couleurCarte" id="maj_couleurCarte"
                       required>
            </p>
            <p>
                <label for="maj_affectationsCarte">Membres affectés :</label>
            <div>
                <select multiple name="affectationsCarte[]" id="maj_affectationsCarte">
                    {% set loginsAffectes = carte.affectationsCarte|map(u => u.login) %}
                    {% set proprietaire = carte.colonne.tableau.proprietaire %}
                    
                    {% if proprietaire.login in loginsAffectes %}
                        <option selected value="{{ proprietaire.login }}" data-membretostring="{{ proprietaire.prenom }} {{ proprietaire.nom }}">
                            {{ proprietaire.prenom }}
                            {{ proprietaire.nom }}
                            {{ proprietaire.login }}
                        </option>
                    {% else %}
                        <option value="{{ proprietaire.login }}" data-membretostring="{{ proprietaire.prenom }} {{ proprietaire.nom }}">
                            {{ proprietaire.prenom }}
                            {{ proprietaire.nom }}
                            {{ proprietaire.login }}
                        </option>
                    {% endif %}
                     
                    {% set participants = carte.colonne.tableau.participants %}
                    {% for membre in participants %}
                        {% if membre.login in loginsAffectes %}
                            <option selected value="{{ membre.login }}" data-membretostring="{{ membre.prenom }} {{ membre.nom }}">
                                {{ membre.prenom }}
                                {{ membre.nom }}
                                {{ membre.login }}
                            </option>
                        {% else %}
                            <option value="{{ membre.login }}" data-membretostring="{{ membre.prenom }} {{ membre.nom }}">
                                {{ membre.prenom }}
                                {{ membre.nom }}
                                {{ membre.login }}
                            </option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <input type='hidden' id="maj_idCarte" value='{{ carte.idCarte }}'>
            <input type='hidden' id="maj_idColonne" value='{{ carte.colonne.idColonne }}'>
            <p>
                <input type="button" id="maj_submitButton" value="Mettre à jour la carte">
            </p>
        </fieldset>
    </form>
</div>
